.glowwords {
    color: #00f0ff !important;
    text-shadow: 0 0 5px #00f0ff;
}

.logo {
    width: 70px;
    height: 70px;
}


@font-face {
  font-family: 'customFont';
  src: url('../fonts/KGRedHands.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.baseFont {
    color: #ffffff !important;
    text-shadow: 0 0 5px #00f0ff;                           
    font-family:  customFont;  
}

.heroFont {
    font-size: 50px; 
}


