.glowwords {
    color: #00f0ff !important;
    text-shadow: 0 0 5px #00f0ff;
}

.logo {
    width: 70px;
    height: 70px;
}


@font-face {
  font-family: 'customFont';
  src: url('../fonts/KGRedHands.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.baseFont {
    color: #ffffff !important;
    text-shadow: 0 0 5px #00f0ff;                           
    font-family:  customFont;  
}

.heroFont {
    font-size: 50px; 
}

.list {
    font-size: large;
}


.footerLogo {
    width: 20px;
    height: 20px;
}

.glow-card {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7),
                0 0 20px 10px #00f0ff;
    transition: box-shadow 0.3s ease;
}

.glow-card:hover {
    box-shadow: 0 0 55px 8px rgba(255, 255, 255, 0.9),
                0 0 25px 12px #00f0ff;
}




@media (max-width: 767px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .card {
        margin-left: auto;
        margin-right: auto;
        max-width: 90%; /* Prevent cards from being too wide */
    }

    /* Center text in all sections */
    #home, #hero1, #Servises, #hero2, #contact, #additional-content {
        text-align: center;
    }

    /* Center images */
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* Center Swiper carousel */
    .swiper {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    /* Center floating icons */
    .floating-icons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .floating-icons .bounce-icon {
        margin: 0 auto;
    }

    /* Center hero section content */
    .heroFont, .split, .lead {
        text-align: center;
    }
}


.map-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
  overflow: hidden;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}